body {
  background-color: rgb(46, 46, 46);
  color: white;
}

.App-header {
  border: 1px solid white;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.App-nav {
  width: 290px;
}

.create-table-bar {
  text-align: center;
}

.create-table-button {
  padding: 7px;
  margin: 4px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  border: 1px white solid;
}

@media all and (min-width: 500px) {
  main {
    flex-direction: row;
    width: 94%;
    flex-wrap: wrap;
    margin: auto;
  }
  .App-nav {
    width: 170px;
  }
}
