/* Color Theme: ["272727","0491b4","8540c9","ff5833",  rgb(218, 194, 128);] */

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* h1 {
  padding: 0px;
  margin: 0px;
} */

.App-header {
  border: 1px solid white;
  background-color: #272727;
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.App-nav {
  width: 290px;
}

.create-party-bar {
  text-align: center;
  background-color: rgb(41, 41, 41);
  padding: 40px;
}

.create-party-button {
  padding: 7px;
  margin: 4px;
}

main {
  background-image: linear-gradient(rgb(24, 24, 24), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.96;
}

footer {
  border: 1px rgb(78, 78, 78) solid;
}

@media all and (min-width: 500px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .App-nav {
    width: 190px;
  }
}
