.group-image {
  width: 300px;
  height: 265px;
  border: 3px rgb(129, 129, 129) solid;
  border-top: 0px;
}

.parties-icons {
  width: 51%;
  vertical-align: bottom;
}

.parties-dm-image {
  width: 54%;
}

.info-party-language,
.info-party-online,
.info-party-players,
.info-party-dm {
  text-align: center;
  padding: 5px;
  background-color: rgb(65, 65, 65);
  width: 42px;
  height: 18px;
  align-self: flex-end;
  word-break: break-all;
}

.info-party-id {
  text-align: center;
  padding: 5px;
  background-color: rgb(65, 65, 65);
  width: 72px;
  border: 3px rgb(129, 129, 129) solid;
  border-bottom: 1px rgb(129, 129, 129) solid;
}

.party-table {
  margin: auto;
  width: 306px;
}

.party-top-info-bar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px rgb(129, 129, 129) solid;
  margin-top: 20px;
  width: 306px;
}

.join-button {
  width: 60%;
  padding: 4px;
  text-transform: uppercase;
}

.button-wrapper {
  text-align: center;
  margin: 2px;
}

@media all and (min-width: 500px) {
  .party-table {
    margin: 25px;
  }
}
