@media all and (min-width: 500px) {
  .user-profile {
    border: 1px white solid;
    width: 80%;
    height: 650px;
    display: flex;
  }

  .profile-left {
    border: 1px white solid;
    flex: 3;
    display: flex;
    flex-direction: column;
  }

  .profile-left-top {
    border: 4px grey solid;
    height: 26px;
  }

  .profile-left-middle {
    border: 4px grey solid;
    flex: 6;
  }

  .profile-left-bottom {
    border: 4px grey solid;
    flex: 6;
  }

  .profile-right {
    border: 1px white solid;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .profile-right-top {
    border: 4px grey solid;
    flex: 1;
  }

  .profile-right-bottom {
    border: 4px grey solid;
    flex: 3;
  }
}
