.full-party-view {
  background-color: #272727;
  background-image: linear-gradient(#2e2e2e, #2f2f2f);
  box-shadow: rgb(37, 37, 37) 1px 8px 6px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.party-legend {
  font-size: 18px;
  color: rgb(209, 209, 209);
  width: 100%;
  margin: auto;
  background-image: linear-gradient(rgb(24, 24, 24), #2e2e2e);
}

.top-row-party {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(24, 24, 24), #2e2e2e);
}

.second-row-party {
  display: flex;
  flex-direction: column;
}

.third-row-party {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fourth-row-party {
  display: flex;
  flex-direction: column;
}

.fifth-row-party {
  display: flex;
  flex-direction: column;
}

.party-about-section {
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 14px;
  font-size: 20px;
  text-align: justify;
}

.party-name-top {
  border-bottom: 3px rgb(0, 0, 0) solid;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: white;
  font-size: 40px;
  text-shadow: -2px 2px 0px #070707;
  background-image: linear-gradient(#47226b, #8540c9);
}

.party-info-section {
  width: 100%;
  margin: auto;
  padding: 35px;
  padding-top: 0px;
  box-sizing: border-box;
  border-bottom: 14px rgb(22, 22, 22) solid;
}

.party-users-joined {
  border: 2px rgb(110, 110, 110) solid;
  width: 100%;
  margin: auto;
  padding: 3px;
  box-shadow: 0 3px 4px 0px #161616;
  box-sizing: border-box;
  background-color: rgb(58, 58, 58);
}

.party-users-requests {
  border: 2px grey solid;
  width: 100%;
  margin: auto;
  padding: 3px;
  padding-top: 8px;
  box-sizing: border-box;
}

.fullview-players-img {
  width: 6%;
  margin: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  vertical-align: middle;
}

/* .fullviewparty-topbar {
  background-image: url('../../../Assets/Groups-image/fantasy.jpg');
  background-position-y: 55%;
  background-size: cover;
  padding: 40px;
} */

.request-img {
  width: 3%;
}

.party-style-text,
.party-important-text {
  font-size: 21px;
  color: white;
}

.party-important-text {
  font-weight: bold;
  color: #ff5833;
}

.username-style {
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: #ff5833;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2pt;
}

.party-creator-style {
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: white;
  font-size: 24px;
  letter-spacing: 1pt;
  margin-top: 25px;
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  .party-name-top {
    width: 900px;
  }

  .party-info-section {
    width: 900px;
  }

  .party-users-joined {
    width: 900px;
  }

  .party-users-requests {
    width: 900px;
  }

  .party-legend {
    width: 900px;
  }

  .party-about-section {
    width: 550px;
  }
}
