.party-legend {
  font-size: 18px;
  color: rgb(209, 209, 209);
}

.party-about-section {
  color: white;
  margin-top: 10px;
  height: 200px;
  overflow-y: auto;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.party-name {
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: white;
  font-size: 40px;
  text-shadow: -2px 2px 0px #070707;
  background-image: linear-gradient(#47226b, #8540c9);
}

.fullview-players-img {
  width: 6%;
  margin: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  vertical-align: middle;
}

/* .fullviewparty-topbar {
  background-image: url('../../../Assets/Groups-image/fantasy.jpg');
  background-position-y: 55%;
  background-size: cover;
  padding: 40px;
} */

.request-img {
  width: 3%;
}

.party-style-text,
.party-important-text {
  font-size: 21px;
  color: white;
}

.party-important-text {
  font-weight: bold;
  color: #ff5833;
}

.username-style {
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: #ff5833;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2pt;
}

.party-creator-style {
  text-align: center;
  font-family: 'Anton', 'Times New Roman', Times, serif;
  color: white;
  font-size: 24px;
  letter-spacing: 1pt;
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  .full-party-view {
    background-color: #272727;
    background-image: linear-gradient(#2e2e2e, #2f2f2f);
    box-shadow: rgb(37, 37, 37) 1px 8px 6px 0px;
    width: 82%;
    height: 720px;
    display: flex;
    margin-top: 30px;
  }

  .full-party-view-left {
    border: 1px white solid;
    flex: 4;
    display: flex;
    flex-direction: column;
  }

  .full-party-view-left-top {
    border: 4px grey solid;
    flex: 4;
  }

  .full-party-view-left-bottom {
    border: 4px grey solid;
    flex: 1;
  }

  .full-party-view-right {
    border: 1px white solid;
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .full-party-view-right-top {
    border: 4px grey solid;
    flex: 3;
  }

  .full-party-view-right-bottom {
    border: 4px grey solid;
    flex: 1;
  }
}
